# Virtual environment
venv/
ENV/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore YOLO model weights
*.pt
*.onnx

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
